<h1><%= @game.player1_name %> Vs. <%= @game.player2_name %></h1>

<% if @game.whos_go == @game.player1 %>
  <h1>Get ready <%= @game.player1_name.upcase %>! It's your turn to hug!</h1>
<% else %>
  <h1>Get ready <%= @game.player2_name.upcase %>! It's your turn to hug!</h1>
<% end %>

<h2><%= @game.player1_name %>: <%=@game.player1_hug_points%>HP</h2>
<h2><%= @game.player2_name %>: <%=@game.player2_hug_points%>HP</h2>

<form action='/hug' method='post'>
  <input type="submit" value="DO A HUG!"/>
</form>
